#container{
    background-color: gray;
    width: 20vw;
    height: auto;
    padding: 20px;
    padding-top: 40px;
    font-size:xx-large;
    /* font-size: 60px; */
    /* font-weight: bolder; */
    display: flex;
    border: solid 1px black;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    border-radius: 20px;
}
.button{
    /* width: 60px; */
    font-size: 30px;
    text-align: center;
    border: solid 1px gray;
    width: 50px;
    padding: 10px;
    border-radius: 20px;
    align-items: center;
}
#userInputBox{
    border-radius: 20px;
    height: auto;
    font-size: 18px;
    text-align: right;
    height: 30px;
    width: 20vw;
    padding-right: 15px;
    /* background-color: lightgrey; */
    color: white;
    border: black 1px solid;
}
#dot{
    /* font-size: 20px; */
    /* padding: 0px; */
    font-weight: bolder;
}

button:hover {
    background-color: blue;
    color: white;
    cursor: pointer;
  }
  